*{
    margin: 0;
    padding: 0;
    background: url("../Data/img/Hell.png");
}

@font-face {
    font-family: Greek-shit;
    src: url("../Data/font/Greek-Freak.ttf");
}

@font-face {
    font-family: ConText;
    src: url("../Data/font/EdgecuttingLiteMedium.ttf");
}

#bar{
    min-height: 40px;
    padding: 10px 0px;
    border: 5px red solid;
    background: white;
}

#home{
    float: left;
    font-family: Greek-shit;
    margin-left: 20px;
    margin-top: 5px;
    padding: 0;
    background: white;
}
#home h1{
    background: white;
    padding-left: 10;
}

#home a{
    color:red;
    text-decoration: none;
    background: white;
    padding-left: 15;
}

#menu{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: aqua;
}
#menu li{
    float: inline-end;
    font-family: Greek-shit;
    text-decoration: none;
    margin-top: 19px;
    padding: 0px 15px 0px !important;
    background: white;
    color: red;
}

#menulist a{
    background: white;
    color: red;
    text-decoration: none;
}

#text{
    margin: 0;
    padding: 0;
    text-align: center;
}

#text p{
    margin-top: 100px;
    color: red;
    font-family: Greek-shit;
    background: rgba(0, 0, 0, 0);
}
#text pre{
    color: white;
}

/* ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
} */

li{
    display: inline;
}




pre{
    font-family: ConText;
    color: blue
}